[defaults]
nocows = True
roles_path = ./roles
collections_paths = ./
# Hat-tip to Jeff Geerling for this starting point.
# https://www.jeffgeerling.com/blog/2020/ansible-best-practices-using-project-local-collections-and-roles